@import '../../assets/variable'; 

.movies {
    background-image: url('../../assets/img/wrapper.svg');
}; 

.movies-content {
    background-color: $black;
    p {
        font-size: 14px;
        color: $white;
    }
}