<div class="movie-content">
  <div class="col">
    <p>{{ selectedMovie.title }}</p>
  </div>
  <div class="col">
    <p>{{ selectedMovie.movieFiles[1].path }}</p>
  </div>
</div>   

<div class="container">
  <div class="c-video">
    <!-- <video #video class="video" [src]="sanitarizer.bypassSecurityTrustUrl('http://localhost:3000/' + selectedMovie[0]['movieFiles'][1]['path'])" (timeupdate)='getVideoProgress()'></video> -->
    <div class="controls d-flex">
      
      <div class="red-bar">
        <div class="red-juice" [ngStyle]="{'width': progressValue}"></div>
      </div>
      <div class="buttons d-flex  w-100 p-3">
        <div class="col-md-7">
          <button class="d-flex ">
              <i [ngClass]="{'fas fa-pause-circle': isPauseActive, 'far fa-play-circle': !isPauseActive  }" 
                 
                 (click)="togglePlayPause()"></i>
          </button>  
        </div>
        <div class="col-md-5 d-flex justify-content-between">
          <button class="d-flex">
              <i *ngIf="!showMute" class="fas fa-volume-up pr-2"></i>
              <input class="pl-2 volume custom-range" type="range" (change) = 'toggleVolume($event)'>
          </button>
          <button class="">
              <i (click)="fullScreen()" class="fas fa-compress"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>