 <div class="container">
   <div class="content">
  <div class="c-video" *ngIf="selectedMovieURL">
    <video #video class="video" (timeupdate)='getVideoProgress()'>
      <source [src]= "sanitarizer.bypassSecurityTrustUrl('http://localhost:3000/' + selectedMovieURL)" type='video/mp4'> 
    </video>
   
    <div class="controls d-flex">
      
      <div class="red-bar">
        <div class="red-juice" [ngStyle]="{'width': progressValue}"></div>
      </div>
      <div class="buttons d-flex  w-100 p-3">
        <div class="col-md-7">
          <button class="d-flex ">
              <i [ngClass]="{'fas fa-pause-circle': isPauseActive, 'far fa-play-circle': !isPauseActive  }" 
                 
                 (click)="togglePlayPause()"></i>
          </button>  
        </div>
        <div class="col-md-5 d-flex justify-content-between">
          <button class="d-flex">
              <i *ngIf="!showMute" class="fas fa-volume-up pr-2"></i>
              <input class="pl-2 volume custom-range" type="range" (change) = 'toggleVolume($event)'>
          </button>
          <button class="">
              <i (click)="fullScreen()" class="fas fa-compress"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="movie mt-5 p-3">
    <div class="movie__title">
      <p> Title :  {{ selectedMovie.title }} </p>
    </div>
    <div class="movie__description">
      <p> Description : {{ selectedMovie.description }} </p>
    </div>
  </div>
 </div>
</div>