/* You can add global styles to this file, and also import other style files */
* {
    // font-family: 'Roboto Mono', monospace;
    @font-face {
        font-family: lato;
        src: url('assets/fonts/AdobeGothicStd-Bold.otf') format("opentype");
      }
    
}

html {
  height: 100%; 
  background-color: #3f434e;
}

body {
  height: 100%;
  // background-color: #3f434e;
}


