@import '../../assets/variable'; 
.header {
    // position: sticky;
    // height: 100%;
    &__logo {
        a{
            font-size: 1.125rem;
            color: $dark-grey;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                white-space: nowrap;
            }
        }
    }

    &__item {
        div {
            a {
                white-space: nowrap;
                font-size: 1rem;
                color: $white;
                padding-bottom: 2rem;

                &:hover + .header__item__movies__box {
                    display: block;

                 }
            }
        }
        &__movies {
            text-align: center;
            height: 2rem;
            &__box {
                margin: 1rem auto !important;
                display: none;
                width: 62px;
                border-radius: 5px;
                background-color: $red;  
                color: $white;
                // background-image: url('../../../assets/img/btn.svg');
                white-space: nowrap;
                font-size: 13px;
                transition: .4s;
                 span {
                     z-index: 1111;
                     margin-top: .5rem;
                 }
            }
        }
        &__upload {
            text-align: center;
            height: 2rem;

            img {
                -moz-transform: rotate(270deg);
                -webkit-transform: rotate(270deg);
                -o-transform: rotate(270deg);
                -ms-transform: rotate(270deg);
                transform: rotate(270deg);
            }
        }
    }
}



.active {
    border-bottom: 4px solid $red;
    color: $red !important;
   
}